@model IEnumerable<WebApplication_MUSICA_grupoD.Models.Colaboraciones>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<input type="text" id="search" class="form-control search-input" placeholder="Buscar en la tabla...">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artistas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tablaCuerpo">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Artistas.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupos.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
